Task 9 Test 14 "Don't match domains without a second-level domain"

## Quiz Bug
"Test 14/56: Don't match domains without a second-level domain as well as the top-level domain (TLD)."
But "z@aq" is a valid email address; unlikely, but permitted, and possible.  I've seen it used by small nations.

### Task
Task 9, Test 14

### Bug Description
Insists on a subset of valid email addresses without defining the subset in the question.
As per ~~RFC822 Section 6 the domain token requires one sub-domain token~~ RFC2822 Section 3.4.1, the domain part can be a single RFC952 hostname (`<domainname> ::= <name>*["."<name>] ; <name>  ::= <let>[*[<let-or-digit-or-hyphen>]<let-or-digit>]`)

### Reproduction steps
(you asked that I don't post quiz solutions here)

### Expected Outcomes
Either:
- accept a regex that matches one or more (not two or more) name patterns after the "@", or
- describe the extra requirements for a "valid email address" in the task description ("for this task, the domain part must have no less than two sub-domains")

### Browser
irrelevant

### OS
irrelevant


Why did you close this?  It's still a problem -- the regex quiz refuses a regular expression that matches RFC2822 email addresses and RFC952 hostnames.

And if you're going to close a bug report you should at the very least say _why_ you're closing it.

The purpose shouldn’t be to create a ”perfect” regex, but for it to be a learning experience. 

Pretty much anything can be an email. 

> On 11 Jul 2021, at 18:27, Moses Moore ***@***.***> wrote:
> 
> ﻿
> Why did you close this? It's still a problem -- the regex quiz refuses a regular expression that matches RFC2822 email addresses and RFC952 hostnames.
> 
> And if you're going to close a bug report you should at the very least say why you're closing it.
> 
> —
> You are receiving this because you modified the open/close state.
> Reply to this email directly, view it on GitHub, or unsubscribe.


No, not "pretty much anything," else you could satisfy it with `/.+/`

If it's a learning experience then you should tell the student what criteria they're trying to satisfy -- don't make up rules and then tell the student they failed to meet the conditions you did not tell them to meet.  If you say "an email address" without telling them what you personally believe an email address is, the student will use official standards -- RFC2822 (which depends on RFC952).

You don't have to write new tests -- you could just document what you believe an email address is if what you believe is different from the standards published in RFCs.

The email format is extremely complex, including comments and multiple advanced formats. The goal isn't to create an RFC compliant regex, but to create tasks people can try their hands at in order to improve their regex skills.

For what its worth, RFC 2822 has been replaced by RFC 5322, and a compliant regex can be found here: https://regex101.com/library/gJ7pU0